<h1>Student Form</h1>

<%= form_for(@student) do |f| %>
<<<<<<< HEAD
    <label>First Name:</label>
    <%=f.text_field :first_name %><br>

    <label>Last Name:</label>
    <%= f.text_field :last_name%>

    <%=f.submit%>
    <%end%>
=======
<label>First Name:</label>
<%= f.text_field :first_name %><br>

<label>Last Name:</label>
<%= f.text_field :last_name %><br>

<%= f.submit %>

<% end %>
>>>>>>> dc0f578e4b45e4be059c9a08fbd457af05bb7b5d
